nav#main-navbar{
  background-color: blue;
}

nav#main-navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav#main-navbar ul li{
  float:left;
  margin: 0;
}

nav#navbar-container ul li a{
  display:
  background-color:blue;
  font-weight:
  text-decoration:
  text-align:
  width: 100%
  padding: 0;
  border-radius:
}

nav#navbar-container ul li a:hover{
  background-color: #000;
  color: #fff;
  text-decoration: underline overline:
